@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --faded-gray: #4b5563;
  --hover-purple: #3e37c9;
  --hover-green: #0a746b;
  --accent-green: #0C9488;
  --faded-purple: #f2f3ff;
  --brand-green: #099576;
  --hover-text-green: #09957614;
  --hover-dark-green: #066d56;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-faded-gray: var(--faded-gray);
  --color-hover-purple: var(--hover-purple);
  --color-faded-purple: var(--faded-purple);
  --color-brand-green: var(--brand-green);
  --color-hover-text-green: var(--hover-text-green);
  --color-hover-dark-green: var(--hover-dark-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-lora);
}

input {
  font-family: var(--font-mono);
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
